*{
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif;    
}
.card-centrar{
    display: flex;
    align-items: center;

}

.danny{
    background: rgba( 0, 0, 0, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.danny1{
    background: rgba( 0, 0, 0, 1.00 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.bg{
    background-size: cover;    
    background-image: url(./img/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.formulario{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-flow: column;
    width: 80%;
    height: 80%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
input, textarea{
    color: white;
    border: none;
    resize: none;
    outline: none;
    padding: 20px;     
    width: 80%;
    margin: 20px;
    transition: all 300ms;
    border-bottom: 2px solid #2aa198;
    background: none;
}