*{
    font-family: 'Bitter', serif;
    font-family: 'Roboto', sans-serif; 
    margin: 0;   
    padding: 0;
}
.card-centrar{
    display: flex;
    align-items: center;

}
.navbarbg{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgba( 0, 0, 0, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );    
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.danny{
    background: rgba( 0, 0, 0, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.danny1{
    background: rgba( 0, 0, 0, 1.00 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.bg{
    background-size: cover;    
    background-image: url(./img/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}
.formulario{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 95%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
input, textarea{
    color: white;
    border: none;
    resize: none;
    outline: none;
    padding: 20px;     
    width: 80%;
    margin: 20px;
    transition: all 300ms;
    border-bottom: 2px solid #2aa198;
    background: none;
}
.img-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;

}

.menu ul li a {
    text-decoration: none;
    
}

.menu ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: #2aa198;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.4s ease-out;
}

.menu ul li:hover::before {
    width: 100%;
}
.contenedor {
    margin: 20px;
}

.flex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    
}
footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur( 20px );
}

footer a{
    text-decoration: none;

}

/*----------------*/
.contredes{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.title {
    text-align: center;
    font-size: 3em;
}
.socialicons {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.socialicons .icon {
    width: 40px;
    height: 40px;
    margin: 0 15px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #2aa198;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.icon::after {
    content: '';
    width: 80px;
    height: 80px;
    z-index: -1;
    position: absolute;
    bottom: -80px;
    left: 0;
    background: #2aa198;    
    transition: 0.2s;
}
.socialicons .icon:hover {
    color: #fff;
}
a:hover::after {
    bottom: 0;
}
